{erl_opts, [
  no_debug_info,
  warnings_as_errors,
  {platform_define, "^[0-9]+", namespaced_types},
  {platform_define, "^18", deprecated_now}
]}.
{deps, [
  {base_kernel,{git,"https://github.com/auviis/base_kernel",{tag, "master"}}},
  {enacl,{git,"https://github.com/jlouis/enacl",{tag, "master"}}},
  {hackney,{git,"https://github.com/benoitc/hackney",{tag, "master"}}}
]

}.

{shell, [
  {dev_mode, false},
  {include_erts, false},
  {extended_start_script, true},
  {config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {apps, [id_api]}
]}.

{relx, [{release, {id_api, "0.0.1"},[otp]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {config, "config/sys.config"},
  {vm_args, "config/vm.args"}

]}.