{erl_opts, [
%%  debug_info,
  no_debug_info,
  warnings_as_errors,
  {platform_define, "^[0-9]+", namespaced_types},
  {platform_define, "^18", deprecated_now}
]}.
{deps, [
  {jwerl, {git, "https://github.com/auviis/jwerl", {branch, "master"}}},
  {pbkdf2, {git,"https://github.com/basho/erlang-pbkdf2",{branch, "develop"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
  {emysql,{git,"https://github.com/auviis/Emysql",{tag, "master"}}},
  {mysql, {git, "https://github.com/mysql-otp/mysql-otp",{branch,"master"}}},
  {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.9.1"} }},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v3.1.0"}}},
  {ecron, {git, "https://github.com/zhongwencool/ecron", {branch, "v0.5.3"}}},
  {mongodb, {git, "https://github.com/comtihon/mongodb-erlang", {branch, "master"}}},
  {jose, {git, "https://github.com/potatosalad/erlang-jose", {branch, "main"}}},
  {jsonea,{git,"https://github.com/sile/jsone", {branch, "master"}}},
  {bson_erlang, {git, "https://github.com/comtihon/bson-erlang", {branch, "master"}}},
  {recon,{git,"https://github.com/ferd/recon", {branch, "master"}}},
  {bcrypt, {git, "https://github.com/erlangpack/bcrypt.git", {branch, "master"}}},
  {gen_smtp,{git,"https://github.com/gen-smtp/gen_smtp",{tag, "1.2.0"}}}
]}.

{profiles, [
  {default, [
    {deps, [meck]},
    {erl_opts, [
      no_debug_info,
      warnings_as_errors,
      {platform_define, "^[0-9]+", namespaced_types},
      {platform_define, "^18", deprecated_now}
    ]}
  ]},
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]},
    {relx, [{dev_mode, false}]}
  ]},
  {native, [
    {erl_opts, [{native, {hipe, o3}}]}
  ]},
  {test, [
    {deps, [meck]},
    {erl_opts, [debug_info]}
  ]}
]}.

{shell, [
  {dev_mode, false},
  {include_erts, false},
  {extended_start_script, true},
%%  {config, "config/sys.config"},
%%  {vm_args, "config/vm.args"},
  {apps, [base_kernel]}
]}.

{relx, [{release, {base_kernel, "0.0.1"},[base_kernel]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
%%  {config, "config/sys.config"},
%%  {vm_args, "config/vm.args"}

]}.